<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <form action="/plants" method="post">
        <label for="category">category:</label>
        <input type="text" name="category" >
       
        <label for="name">plant name:</label>
        <input type="text" name="name">
       
        <label for="img">IMG:</label>
        <!-- <input type="text" name="img" > -->
        <textarea name="img" cols="30" rows="10"></textarea>
       
        <label for="price">price:</label>
        <input type="number" name="price" >
       
        <label for="rating">rating:</label>
        <input type="text" name="rating" >
       
        <label for="height">height:</label>
        <input type="number" name="height" >
       
        <label for="pot-color">pot color:</label>
        <input type="text" name="pot-color" >
       
        <label for="stock">stock:</label>
        <input type="number" name="stock" >
       
        <label for="shippingTime">shipping time:</label>
        <input type="number" name="shippingTime" >
       
        <label for="description">description:</label>
        <!-- <input type="text" name="description" > -->
        <textarea name="description" cols="30" rows="10"></textarea>
       
        <input type="submit" value="submit">
    </form>
</body>
</html>